*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}



.red{
    background-color: #b30404;
    /* background-color:rgb(240,128,128); */
}


.black{
     background-color: black;
    /* background-color: #b30404; */
}

   .outline{
    outline:6px solid #000000;

      /* background-color:rgb(252, 13, 13); */
  } 
  .web h2{
      color:#b30404 ;
      /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
       font-family: monospace;
  }
   .text p{
      /* color: rgb(226, 226, 5); */
      font-family: cursive;
  }
  .about{
    /* font-family: monospace; */
    color:rgb(129, 125, 125);

  }
  /* .navbar a{ */
      /* color:#b30404 ; */
  /* } */

  .para{
    color: #b30404


}
.social-links a{
    color: #b30404;
}
.icon{
    color: rgb(182, 4, 4);
}

.navbar-bg, .navbar-bg .dropdown-menu, .navbar-bg .dropdown-menu a:focus{
    /* background-color:#b30404; */
    background-color:rgb(240, 233, 233);
    

    /* color: #ffffff; */
    
}


 /* .navbar-bg{
    background-color:rgb(245, 190, 190);
    opacity: .5;
    

}  */

.navbar-bg a,.navbar-bg a:hover,.navbar-bg a:focus{
    color: #000;
}
.navbar-drop .dropdown-menu {
    margin-top: 0px;
}

.navbar-drop .dropdown-menu a{
    /* background-color: rgb(240, 230, 230); */
    /* background-color: rgb(188, 201, 206); */
    background-color: #a50505;
    color: #d5dfdfef;
   font-size: 13px;



}
.dropdown-menu .dropdown-item{
    background-color: #000000;

}

.dropdown-divider{
    background-color: #000000;
    margin-top: 1px;
    margin-bottom: 0px;
}

.navbar-drop .dropdown-menu a:hover{
    background-color: #000;
    color:rgb(241, 235, 235);
    

}


.red a{
    /* color:rgb(190, 4, 4) ; */
     font-family: monospace; 
 }

.navbar-bg, .navbar-bg .name a{
    color: rgb(187, 2, 2);
    font-family: monospace;
}




.home-class{
     height: 100vh;
     background-image: url("../image/myport.jpeg");
     display: flex;
     background-size: cover;
     
} 
.glass{
    width: 400px;
    height: 600px;
    background-color: rgba(255,255,255,0.1);
    padding: 50px;
    border-radius: 5px;
    backdrop-filter: blur(30px);
    border: 3px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
    line-height: 1.5;

}
.our-expertise{
    border: 2px solid transparent;
    background-color: rgba(255,255,255,0.1);
    background-clip: padding-box;
    padding: 15px;

    box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
    line-height: 1.5;

    


}





/* extra */
.freelancer-available{
    height: 50vh;
    background-image: url("../image/apple.jpg");
    display: flex;
    background-size: cover;

        
    
}
    
    
  

.flex{
    height: 75vh;
    background-image: url('../image/last.jpg');
    background-size: cover;
    /* border-top: white 2px solid; */
    display: flex;
    padding: 0 100px;
    align-items: center;
    margin-top: 45px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
   
}


 

.box{
    display: flex;
    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgb(255,255, 255, .2);
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.5);
    border: 5px solid transparent;

    
    
}



.box h3{
    margin: 0, 0, 20px;
    padding: 0;
    font-size: 25px;
    text-transform: capitalize;
    color: rgb(117, 3, 3);
}
@media (max-width: 576px)  {
    .box{
        position: inherit;
        padding: 5px;
        display: block;
        max-width: 100%;
    }
    .flex{
        padding: 0px 5px;
    }
     


}

.contact{
    margin: 0, 0, 20px;
    padding: 0;
    background-color: rgb(247, 239, 239);
    
}
@media  screen and (max-width:750px) {
                 .contact form{
                     margin-top: 20px;
                     padding: 10px;
                 }
                 .contact-item{
                     padding: 5px 15px;
                 }
                

}



/* footer */
.footer{
    /* background-color:#b30404; */
    background-color:black;

    padding: 0 0 30px 0;
    /* color: #fff; */
    font-size: 15px;
   

    
}
.footer .footer-top{
    padding: 60px 0 30px 0;
}
.footer .footer-top .footer-des{
    margin-top: -90px;
    margin-bottom: 15px;
    color: rgb(202, 204, 198);
    background-color: #a50505;
    border-top: 4px solid rgb(12, 12, 12);
    text-align: center;
    padding:30px 20px;
}
.footer .footer-top .footer-des h3{
    font-size:24px;
    margin: 0 0 2px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
}
.footer .footer-top .footer-des p{
    font-size:14px;
    line-height: 24px;
    margin-bottom: 0;
}
.footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #ffffff;
    color:#cc0505;
    line-height:1;
    padding:8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align:center;
    width: 36px;
    height:36px;
    transition: 0.3s;
}
.footer .footer-top .social-links a:hover{
    background: rgb(245, 241, 8);
    color: #fff;
    text-decoration: none;
}
.footer .footer-top h4{
    font-size:16px;
    font-weight:bold;
    color: rgb(245, 241, 8);
    position:relative;
    padding-bottom: 12px;
}
.footer .footer-top .footer-links{
    margin-bottom: 30px;
}
.footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.footer .footer-top .footer-links ul i{
    padding-right: 2px;
    /* color: red; */
    color:rgb(245, 241, 8);
    font-size: 18px;
    line-height: 1;
}
.footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items:center;
}
.footer .footer-top .footer-links ul li:first-child{
    padding-top:0;
}
.footer .footer-top .footer-links ul a{
    color: red;
    /* color:#fff; */
    transition:0.3s;
    display: inline-block;
    line-height: 1;
}
.footer .footer-top .footer-links ul a:hover{
    /* color: rgb(251, 253, 117); */
    color: red;

}
.footer .footer-top .footer-newsletter form{
    margin-top:30px;
    background: #ffffff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4;
}
.footer .footer-top .footer-newsletter form input[type="email"]{
    border:0;
    padding: 4px;
    width: calc(100% - 110px);
}
.footer .footer-top .footer-newsletter form input[type="submit"]{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    border:0;
    background: none;
    font-size:16px;
    padding: 0 20px;
    /* background: black; */
    background: rgb(192, 3, 3);
    /* background: #b30401; */
    color:#ffffff;
    transition: 0.3s;
    border-radius:4;
}
.footer .footer-top .footer-newsletter form input[type="submit"]:hover{
    /* background: #000; */
    background: yellow;
    color:black;
    font-weight: 500;
}

/* footer css end */
/* stories css start */
/* #story{
    background-color: #5fece1;
    
    margin-bottom: 5px;
}
.footer1{
    background:#ec805f;
    padding: 0 0 30px 0;
    color: #ffffff;
    font-size: 15px;

}
 */



/* footer end */